<div class="card text-center final">    
    <div class="card-body final-hijo">
      <h5 class="card-title">El Muro del Coleccionista</h5>
      <p class="card-text"><small>-Porqué no hay nada más maravilloso que coleccionar pasiones-</small> </p>      
    </div>    
  </div>